@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TrebuchetMS";
  src: url("fonts/TrebuchetMS.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url("fonts/websymbols-regular-webfont.eot");
  src: url("fonts/websymbols-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/websymbols-regular-webfont.woff") format("woff"),
    url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
    url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@layer components {

  * {
    margin: 0px;
    padding: 0px;
  }

  .navText {
    @apply
    text-base
    text-white;
  }

  .header {
    @apply
    w-full
    h-20
    bg-black
    font-bebas
    text-white
  }

  .clearfix {
    @apply
    float-none
    clear-both
  }

  .logo {
    background-color: #37bcf9;
    @apply
    font-bebas
    float-left
    w-52
    text-center
    mt-2
    ml-5
    tracking-widest
    cursor-pointer
    overflow-hidden
    transition-all duration-300
  }

  .logo:hover {
    @apply
    rounded-sm
    text-black
    bg-white
  }

  .gear {
    @apply
    font-symbols
  }

  .logo .gear {
    @apply
    font-bold
    block
    float-left
    text-3xl
    mt-1
    ml-6
    animate-rotateGear
  }

  .logo h3 {
    @apply
    font-bold
    block
    float-right
    text-4xl
    mt-1
    mr-16
    transition-all duration-300
  }

  .logo:hover .gear {
    @apply
    animate-fromBellowLogo
  }

  .logo:hover h3 {
    @apply
    animate-fromRightLogo
  }

  .banner {
    background: url("../img/bakbaner.png");
    @apply
    overflow-hidden
    w-banner
    h-28
    border-4
    shadow-md
    m-5
  }

  .menu {
    @apply
    inline
    bg-transparent
    h-20
    float-right
  }

  .menu ul li {
    margin: 0px 20px 0px 20px;  
    @apply
    text-2xl
    leading-menu
    inline-block
    tracking-wide
  }

  .menu ul li a {
    transition-duration: 200ms;
    @apply
    inline-block
    text-white
    no-underline
    transition-all
  }

  .menu ul li a:hover {
    color: #37bcf9;
    @apply
    scale-125
    transform
  }

  .banner {
    background-position: -200px -200px;
    @apply
    m-5
  }

  .card {
    transition-duration: 300ms;
    @apply
    text-center
    float-left
    w-52
    h-80
    border-2
    border-white
    shadow-md
    bg-white
    overflow-hidden
    m-5
    mt-10
    cursor-pointer
    transition-all
  }
  
  .card:hover {
    @apply
    bg-black
  }

  .card:last-child {
    @apply
    mr-0
  }

  .icon {
    @apply
    font-symbols
  }

  .card .icon {
    transition-duration: 300ms;
    @apply
    block
    w-full
    h-32
    text-5xl
    text-center
    mt-3
    m-0
    mr-auto
    transition-all
  }

  .card:hover .icon {
    color: #37bcf9;
    @apply
    text-7xl
    animate-showIconCard
  }

  .card .category {
    color: #0370b9;
    font-family: 'TrebuchetMS';
    transition-duration: 300ms;
    @apply
    w-full
    h-12
    font-bold
    text-xl
    text-center
    transition-all
  }

  .card:hover .category {
    @apply
    text-white
    animate-showCategoryCard
  }

  .card .description {
    font-family: 'TrebuchetMS';
    color: #0370b9;
    @apply
    text-center
    text-sm
    transition-all duration-300
  }

  .card:hover .description {
    @apply
    text-white
    animate-showDescriptionCard
  }

  .lateral {
    font-family: 'TrebuchetMS';
    min-height: 1200px;
    @apply
    w-72
    float-right
    m-5
  }

  .lateral h3 {
    @apply
    bg-lateral
    block
    w-auto
    h-12
    leading-10
    shadow-md
    text-3xl
    font-bebas
    font-normal
    tracking-widest
    pl-4
    mt-8
    mb-4
  }

  .lateral h3:first-child {
    @apply
    mt-0
  }

  .search {
    @apply
    w-11/12
    h-8
    m-3
    bg-white
    rounded-md
    shadow-md inset-2
  }

  .lateral input[type="text"] {
    transition-duration: 300ms;
    @apply
    w-4/5
    h-8
    border-none
    pl-1
    rounded
    bg-transparent
    text-white
    transition-all
  }

  .lateral input[type="text"]:focus {
    @apply
    text-gray-600
  }

  .lateral input[type="button"],
  .lateral input[type="submit"] {
    @apply
    h-8
    cursor-pointer
    text-base
    bg-transparent
    border-none
    border-l-2
    text-gray-500
    pl-1
  }

  .aside-box {
    @apply
    bg-white
    w-asideBox
    h-60
    m-auto
    mt-5
    pt-1
    shadow-md
  }

  .login input[type="email"],
  .login input[type="password"] {
    @apply
    block
    m-auto
    mt-5
    w-11/12
    h-8
    border-2
    shadow-md
    rounded-md
    pl-8
    text-gray-500
  }

  .login input[type="email"]:focus,
  .login input[type="password"]:focus {
    @apply
    text-gray-700
    shadow-md
  }

  .login .user,
  .login .password {
    @apply
    block
    text-center
    absolute
    ml-4
    mt-1
    h-8
  }

  .login .password {
    @apply
    ml-5
    mt-6
    text-xl
  }

  .login input[type="submit"],
  .login input[type="button"],
  .login input[type="reset"],
  .login button {
    background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
    font-family: "TrebuchetMS";
    transition-duration: 300ms;
    @apply
    text-white
    text-center
    w-24
    h-9
    mt-5
    rounded-none
    cursor-pointer
    text-sm
    font-extralight
    ml-4
    mb-5
    transition-all
  }
  
  .login input[type="submit"]:hover,
  .login input[type="button"]:hover,
  .login input[type="reset"]:hover,
  .login button:hover {
    @apply 
    shadow-sm
  }

  .login a {
    text-decoration: none;
    @apply
    block
    text-sm
    ml-5
    text-gray-600
  }

  .login a:hover {
    color:#2f78bc;
    @apply
    underline
  }

  .social {
    @apply
    h-48
  }

  .social a {
    @apply
    block
    text-gray-500
    no-underline
    text-3xl
    ml-5
    mt-3
    mb-5
  }

  .social .overlay {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 1px #ccc;
    transition-duration: 400ms;
    @apply
    block
    h-5
    font-bold
    tracking-wider
    shadow-md
    border-4
    bg-white
    absolute
    p-1
    ml-16
    -mt-14
    transform -translate-x-3/4
    opacity-0
    transition-all
  }

  .social div:hover .overlay {
    @apply
    opacity-100
    transform translate-x-0
  }

  .articles {
    @apply
    w-articles
    float-left
  }

  .articles h2 {
    background: url('../img/pxgray.png');
    line-height: 75px;
    @apply
    block
    w-full
    h-20
    text-center
    font-bebas
    text-4xl
    font-normal
    tracking-wider
    bg-white
    shadow-md
    m-0
    mr-auto
    mt-5
    mb-4
    pt-5
  }

  .articles article {
    font-family: "TrebuchetMS";
    @apply
    w-article
    h-auto
    border-2
    border-white
    m-10
    mr-auto
    p-2
    bg-white
    text-black
    shadow-md
  }

  .articles article h4 {
    @apply
    block
    font-bold
    text-2xl
    m-0.5
  }

  .articles article h4 a {
    color: #00538c;
    @apply
    no-underline
  }

  .articles article h4 a:hover {
    @apply
    underline
  }

  .articles .data {
    background: #393d3f;
    @apply
    float-right
    text-white
    h-8
    leading-9
    -m-3
    p-1
    text-sm
    rounded-sm
  }

  .articles .data span {
    @apply
    m-1
  }

  .articles article p {
    @apply
    mt-2
    mb-2
    text-sm
  }

  .blog {
    transition-duration: 1s;
    @apply
    w-3/5
    p-10
    h-24
    mt-16
    leading-blog
    text-center
    transition-all
  }

  .blog a {
    transition-duration: 1s;
    color: #00538c;
    @apply
    block
    font-bebas
    text-4xl
    tracking-widest
    no-underline
    transition-all
  }

  .blog:hover {
    border-radius: 240px;
    @apply
    bg-gray-600
    shadow-lg
    animate-blinkBlog
  }

  .blog:hover a {
    @apply
    text-white
    shadow-lg
  }

  .footer {
    height: 470px;
    @apply
    w-full
    bg-black
    text-white
    overflow-y-hidden
  }

  .footer .wrap > div {
    font-family: "TrebuchetMS";
    @apply
    float-left
    h-96
    m-10
    text-center
    text-white
  }

  .footer a {
    color: #37bcf9;
    @apply
    no-underline
    transition-all duration-300
  }

  .footer h5 {
    background: url('../img/pxgray.png');
    @apply
    block
    bg-white
    text-black
    h-12
    tracking-widest
    text-center
    font-bebas
    text-4xl
    font-bold
    leading-10
    rounded-md
    mb-4
  }

  .footer ul {
    @apply
    text-left
    m-5
    text-2xl
  }

  .footer ul li {
    @apply
    mt-2
    p-1
    border-b-2
  }

  .footer ul li a {
    @apply
    block
    h-10
    transition-all duration-300
  }

  .footer ul li:hover a {
    @apply
    pl-10
    text-white
    w-full
  }

  .footer iframe {
    @apply
    w-11/12
    h-72
    mt-2
    rounded-md
    border-4
    border-white
    shadow-lg
  }

  .footer img {
    @apply
    mb-4
    text-center
  }

  .footer .browsers img {
    @apply
    inline-block
    w-11
  }

  /* Responsive */

  .wrap {
    @apply
    1250:w-11/12
    1250:m-auto
  }
  .banner h1 {
    @apply
    1250:w-full
    1250:text-4xl
    3000:text-center
    1250:text-center
    1250:m-8
  }

  .card {
    @apply
    1250:w-1/5
    1250:m-cardRespons
  }

  .card p {
    @apply
    1250:block
    1250:w-11/12
    1250:m-0
    1250:text-center
  }

  .articles {
    @apply
    1250:w-8/12
  }

  .articles article {
    @apply
    1250:w-article
  }

  .footer .wrap > div {
    @apply
    1250:w-3/12
  }

  .footer .browsers img {
    @apply
    1250:w-2/12
  }

  .footer h5 {
    @apply
    1250:text-3xl
  }
  
  .card .category {
    @apply
    1080:text-base
  }

  .card .description {
    @apply
    1080:text-base
  }

  .articles {
    @apply
    1080:w-7/12
  }
 
  .articles {
    @apply
    970:w-7/12
  }
  
  .footer .wrap > div {
    @apply
    970:w-3/12
    970:m-5
  }

  .footer h5 {
    @apply
    970:text-xl
  }

  .articles {
    @apply
    925:w-8/12
  }
  
  .lateral {
    @apply
    925:w-3/12
  }

  .lateral input[type="text"] {
    @apply
    925:w-9/12
  }

  .aside-box {
    @apply
    925:w-11/12
    925:min-h-asideBoxRespons
    925:h-auto
    925:pb-2
  }

  .login a {
    @apply
    925:mt-2
    925:mb-3
  }

  .login input[type="email"].
  .login input[type="password"] {
    @apply
    925:w-8/12
  }

  .login .user
  .login .password {
    @apply
    925:ml-6
  }

  .login input[type="submit"],
  .login input[type="button"],
  .login input[type="reset"],
  .login button {
    @apply
    925:mb-0
  }

  .login input[type="reset"] {
    @apply
    925:hidden
  }

  .lateral h3 {
    @apply
    899:text-xl
  }
 
  .banner h1 {
    @apply
    799:text-3xl 
  }

  .card {
    @apply
    799:h-auto
  }

  .card .category {
    @apply
    799:text-base
    799:-mt-6
  }

  .card .description {
    @apply
    799:hidden
  }

  .footer img {
    @apply
    799:mb-4
    799:max-w-full
  }

  .header-group {
    @apply
    724:text-center
  }

  .header {
    @apply
    724:w-full
    724:h-headerRespons
  }

  .logo {
    @apply
    724:text-center
    724:float-none
    724:w-52
    724:m-0
  }

  .menu {
    @apply
    724:clear-both
    724:float-none
    724:w-menuRespons
    724:m-0
  }

  .lateral input[type="text"] {
    @apply
    724:w-3/4
  }
 
  .banner h1 {
    @apply
    660:text-2xl
  }

  .lateral {
    @apply
    660:float-none
    660:w-full
    660:m-0
    660:min-h-lateralRespons
    660:mt-5
  }

  .lateral input[type="text"] {
    @apply
    660:w-11/12
  }

  .login input[type="email"], .login input[type="password"] {
    @apply
    660:w-11/12
  }

  .articles {
    @apply
    660:float-none
    660:w-full
    660:m-0
    660:min-h-lateralRespons
  }

  .footer {
    @apply
    660:h-auto
    660:pb-10
  }

  .footer .wrap > div {
    @apply
    660:w-full
    660:m-0
    660:mt-5
  }

  .footer h5 {
    @apply
    660:text-2xl
  }

  .logo {
    @apply
    475:float-left
  }

  .header {
    @apply
    475:w-full
    475:h-72
    475:pt-3
  }

  .menu {
    @apply
    475:clear-both
    475:float-none
    475:w-full
    475:m-0
  }

  .menu ul li {
    @apply
    475:w-full
    475:leading-10
  }
  
  .menu ul li a {
    @apply
    475:w-full
    475:leading-10
  }

  .menu ul li a:hover {
    @apply
    475:text-azulLogo
    475:transform scale-125
  }

  .banner {
    @apply
    475:h-20
  }

  .banner h1 {
    @apply
    475:text-lg
  }

  .lateral input[type=="text"] {
    @apply
    475:w-10/12
  }

  .card .icon {
    @apply
    475:text-4xl
  }

  .card:hover .icon {
    @apply
    475:text-4xl
  }

  .card .category {
    @apply
    475:text-sm
  }

  article {
    @apply
    475:w-2/5
  }

  .articles .data {
    @apply
    475:float-none
    475:-m-2
    475:rounded-none
  }

  .articles article h4 {
    @apply
    475:mt-5
  }



}
